extends layout

block content
  .datapage_format
    h1= title
    .content
      p  
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque at arcu vitae nulla malesuada viverra. Nullam commodo ligula at nulla dignissim pretium. Aliquam erat volutpat. Maecenas mattis orci massa, a vulputate est elementum nec. Aliquam scelerisque, est ac accumsan luctus, nisi tellus tincidunt lorem, quis molestie est enim ut magna. Proin non vehicula quam, sed ullamcorper risus. Phasellus euismod felis justo, id pharetra enim volutpat vel. Aenean lectus risus, egestas a diam vitae, facilisis tempor ipsum. Ut tristique diam ac rutrum tincidunt. Nam ullamcorper est mattis nisi feugiat, vitae ultricies ligula dapibus. Maecenas molestie lorem eros, id pretium enim dignissim eu.
      p  
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque at arcu vitae nulla malesuada viverra. Nullam commodo ligula at nulla dignissim pretium. Aliquam erat volutpat. Maecenas mattis orci massa, a vulputate est elementum nec. Aliquam scelerisque, est ac accumsan luctus, nisi tellus tincidunt lorem, quis molestie est enim ut magna. Proin non vehicula quam, sed ullamcorper risus. Phasellus euismod felis justo, id pharetra enim volutpat vel. Aenean lectus risus, egestas a diam vitae, facilisis tempor ipsum. Ut tristique diam ac rutrum tincidunt. Nam ullamcorper est mattis nisi feugiat, vitae ultricies ligula dapibus. Maecenas molestie lorem eros, id pretium enim dignissim eu.

      h2 CONTACT
      p 
        |Johan Gouws,  
        |59 Discovery Drive
        |Whitby
        |Wellington



