extends layout
block content
  script.
    var testFunc = function(){
      console.log('testFunc')
    }
  button(onclick ='testFunc()') Click
  
  .container.main
    .inner-container
      include filter-menu

      table
        th
          td
          td Image
          td Observation
          td Time Taken
          td Location






  //- //This function will be called when checking each box to change
  //- //The corresponding variable

  //- - var something = function() {
  //- -   console.log('something');
  //- - }

  //- .datapage_format
  //-   h1= title
  //-
  //-

    //- p This is the page to export data
    //- p Please choose which attributes you want to export
    //-
    //-

    input(type = 'checkbox' checked = true onclick = 'tempClick')
