mixin option(val, label)
  option(value=val)=label

#filter-menu
  h3 Filter
  .inputs
    form(method = 'post')
      .input-group.input-daterange(data-provide='datepicker', data-date-format='yyyy-mm-dd')       
        input.form-control#from(name='fromDate', type='text', placeholder = 'From Date', data-date-start-date='01/01/2017') 
        .input-group-addon To
        input.form-control#from(name='toDate', type='text', placeholder = 'To Date', data-date-end-date="0d") 
      select#locations.form-control(name = 'locations')
        option All
        each dt in filtr          
          option(value = dt.longitude) #{dt.longitude}
      select#observations.form-control(name = 'obs')
        option All
        each dt in filtr
          option(value = dt.observation_type) #{dt.observation_type}  
      button(type='filter') Apply
git 

