doctype html
html(lang='en')
  head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      meta(name='description', content='')
      meta(name='author', content='')
      title #{title} - KakaGo
      link(rel='stylesheet', href='/css/bootstrap.min.css')
      link(rel='stylesheet', href='/css/bootstrap-datepicker3.min.css')
      link(rel='stylesheet', type='text/css', href='//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
      link(rel='stylesheet', href='/css/main.css')
  body 
    header#header
      .container
        .row
          .col-md-12
            .logo-container
              a(href='/')
                img(src='/images/kakago-logo.png', class='logo')
              //h1.wow.fadeIn(data-wow-delay='1.6s') KaKa Go
              //h3.wow.fadeInUp(data-wow-delay='1.9s') Six HTML pages include
            nav.navbar
              ul
                li
                  a(href="/gallery") Gallery
                li
                  a(href='/map') Map
                li
                  a(href='/data') Data
                li
                  a(href='/projects') Projects   
                //need to add projects page coz this foes to database
    .page
      block content
    footer.foot
      ul
        li
          a(href='/about') About
        li
          Copyright © KakaGo 2017
        //li
        //a(href='/help') Help
        
        script(type='text/javascript', src='/js/min/jquery-3.2.1.min.js')
        script(type='text/javascript', src='/js/min/bootstrap.min.js')
        script(type='text/javascript', src='/js/min/bootstrap-datepicker.min.js')
        script(type='text/javascript', src='/js/main.js')
