extends layout
block content 
  .container.main
    .inner-container  
      #keaMap(style="width:1300px; height:600px")
    //-   mixin loc(ltlng)
    //-     #l 
    //-       span = ltlng 
        
    //-   for ll in latlong
    //-     +loc(ll)
      

    script(async='', defer='', type='text/javascript' src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDgs1JEaEOxaQER4W5lKsZP3vbw83GjqXM&callback=initMap&libraries=visualization')
    script.
      function initMap(){
      //-Change here to get the actual data from the db
        var heatmapData = [
          new google.maps.LatLng(-41.270740, 174.719501),
          new google.maps.LatLng(-41.27, 174.71),
          new google.maps.LatLng(-41.28, 174.72),
          new google.maps.LatLng(-41.29, 174.73),
          new google.maps.LatLng(-41.31, 174.74)
        ];
        
        //- console.log(latlong);

        var wellington = new google.maps.LatLng(-41.2865,174.7762);
        map = new google.maps.Map(document.getElementById('keaMap'), {
          center: wellington,
          zoom: 5,
          mapTypeId: 'satellite'
        });
        var heatmap = new google.maps.visualization.HeatmapLayer({
          data: heatmapData,
          radius: 7
        });
        heatmap.setMap(map);
        heatmap.dissipating = false;
      }
    
    

    //-remove from
    //- script.
    //-     function getData(){
    //-     //Make sql request
    //-     //only choose those with a gps point

    //-     }
    //-remove to
