extends layout

block content
    #map
    script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDgs1JEaEOxaQER4W5lKsZP3vbw83GjqXM&callback=initMap&libraries=visualization')
