extends layout
block content 
  .container.main
    .inner-container  
      #keaMap(style="width:1300px; height:600px")
    //-   mixin loc(ltlng)
    //-     #l 
    //-       span = ltlng 
        
    //-   for ll in latlong
    //-     +loc(ll)
      

block content
  .container.main.map
    .inner-container
      include filter-menu
  #map
  script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDgs1JEaEOxaQER4W5lKsZP3vbw83GjqXM&callback=initMap&libraries=visualization')
