extends layout

block content
  .container.uploadedimage
    .inner-container
      .uploadform
        form(action='uploadedimage', method='post', enctype='multipart/form-data')
          input#imageupload(type='file', name='filetoupload')
          label(for='imageupload') 
            span Choose an image&hellip;
          br
          input(type='text', required=true, name='observationtype', placeholder='Observation Type')
          br
          input(type='text', required=true, name='description', placeholder='Description')
          br
          input(type='submit')
